<!--<p>signup works!</p>-->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 offset-md-3">
            <mat-card>
                <div class="container text-center">
                    <img style="width:80px; padding-bottom:20px" src="../../../assets/logo.jpg" alt=""/>
                <h1 class="text-center">Sign up</h1>
                <!--{{Users | json}}-->
                <form (ngSubmit)="formSubmit()">
                   <!--username field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        required
                        [(ngModel)]="User.username"
                        name="username"
                        matInput placeholder="Enter username">
                        <mat-hint>Username must be unique!</mat-hint>
                      </mat-form-field>
<br>
                      <!--email field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input 
                        required
                        [(ngModel)]="User.email"
                        name="email"
                        type="email" matInput placeholder="Enter email">
                        <mat-hint>eg. abc@gmail.com</mat-hint>
                      </mat-form-field>
    <br>
                      <!--password field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        required
                        [(ngModel)]="User.password"
                        name="password"
                        type="password" matInput placeholder="Enter password">
                        <mat-hint>must contain uppercase,lowercase,number and special character</mat-hint>
                      </mat-form-field>
    <br>
    <br>
    <br>
                      <!--submit botton-->
                      <div class="container text-center">
                      <button type="submit" mat-raised-button color="primary">Sign Up</button>
                      <button type="reset" style= "margin-left:20px" mat-raised-button color="accent">Reset</button>
                    </div>
                    </form>
            </div>
          </mat-card>
            </div>
        </div>
    </div>
    
    </div>
    
